$color-header: rgba(242, 120, 92, 0.7);
$color-button:#0D606F;
$color-link:#FFFFFF;
$color-light: #FFFFFF;
$color-additional: #F2785C;
$color-steps: #0D606F;
$color-stories:#0D606F;
$color-title: #F2785C;
$color-controls: rgba(242, 120, 92, 0.5);
$color-hover:#F2785C;
$color-primary: #0D606F;
$color-hamburger: #ffffff;
$color-hamburger_active: #F2785C;
$color-overlay: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);

//icons
$color-coral:#F2785C;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;