.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
   
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.popup__wrapper{
    border-radius: 35px;
    background: $color-overlay;
    width: 650px;
   height: auto;
    // margin: 0 auto;
    // padding: 114px 67px 49px;
    position: relative;
   @include media-mobile {
    width: 300px;
   }
   
    
}
.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 25px 0 30px 0;
    color: #0D606F;
    @include media-mobile {
        font-size: 26px;
    }
}



.line {
    text-align: center;
    overflow: hidden;
    margin: 30px 0 34px 0;
    font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color:  rgba(13, 96, 111, 0.5);
}
.line::before, .line::after {
    content: "";
    display: inline-block;
    width: 261px;
    height: 1px;
    // border: 1px solid rgba(13, 96, 111, 0.5);
    background: rgba(13, 96, 111, 0.5);
    z-index: 1;
    position: relative;
    vertical-align: middle;
    @include media-mobile {
        width: 125px;
    }
}
.line:before {
    right: 15px;
    margin: 0 0 0 -100%;
}
.line:after {
    left: 15px;
    margin: 0 -100% 0 0;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}
.form_label {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
    color: #0D606F;
    float: left;
}
.input {
    width: 560px;
    // height: 54px;
    // min-width: 100%;
    height: 54px;
    // width: 100%;
    color: #0D606F;
    border-radius: 10px;
    border: none; 
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    &_email {
        margin-bottom: 20px;
    }
    &_password {
        margin-bottom: 25px;
    }
    @include media-mobile {
        width: 250px;
    }
}
input:focus {outline: 0;}

.input._error {
    box-shadow:  0 0 15px red;
}

.btn {
    width: 560px;
   
    height: 54px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    // padding: 14px 249px;
    transition: background-color all 0.3s ease 0s;
    position: relative;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_facebook {
        background: #1877F2;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        color: #FFFFFF;
    }
    &_google {
        background: #ffffff;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
        color: #0D606F;
    }

    &_submit {
        background: #0D606F;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;

        color: #FFFFFF;

    }
    @include media-mobile {
        width: 250px;
    }
}



.branch {
    border: 1px solid rgba(13, 96, 111, 0.5);
    transform: rotate(0.1deg);
    width: 560px;
    margin-top: 26px;
    @include media-mobile {
        width: 250px;
    }
    
}
.popup_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
   
    // text-decoration-line: underline;
    color:rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    
    & a {
        color:#0D606F;
        text-decoration-line: underline;
    }
}
.text_1 {
    margin-top: 10px;
}
.text_2 {
    margin: 20px 0 23px 0;
}
h5 {
    margin: 0;
}
